:root {
  --backgroundmain: #F9FAFE;
  --background: #F5F2FF;
  --maincolor: #8675EB;
  --maindarkcolor: #15074E;
  --mainseconddarkcolor: #5e4ad3;
  --blackcolor : black;
  --greencolor : #95eb00;
  --orangecolor : #ffa240;
}

html {
  background-color: var(--backgroundmain);
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

.title {
  display: flex;
  justify-content: center;
  font-weight: 100;
  font-size: 50px;
  margin-top: 0px;
  color: var(--blackcolor);
}

.main {
  display: flex;
}

  .main_left {
    flex: 1;
  }

    .nav_container {
      margin-bottom: 10px;
      padding: 10px;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
    }

      .nav {
        height: 75px;
        width: 75px;
        background-color: var(--background);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
      }

        .nav p {
          color: var(--blackcolor);
          margin: 0px;
        }

        .nav img {
          height: 25px;
          width: 25px;
          margin-bottom: 5px;
        }

      .nav:hover {
        background-color: var(--maindarkcolor);
      }

        .nav:hover p {
          color: white;
        }

    .nav_container_selected {
      background-color: white;
      box-shadow: -4px 4px 5px 0px #d2d2d2ab;
      z-index: 2;
      position: relative;
    }

      .nav_container_selected .nav_selected {
        background-color: var(--maindarkcolor);
      }

        .nav_selected p {
          color: white;
        }

  .main_right {
    background-color: white;
    flex: 10;
    box-shadow: 0px 4px 5px 2px #d2d2d261;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    padding: 35px;
  }

    .button_update_pld_container {
      display: flex;
      justify-content: end;
      flex-direction: column;
    }

        .button_update_pld {
          border-radius: 15px;
          padding: 8px 20px;
          border: 0.5px var(--maincolor) solid;
          background-color: var(--maincolor);
          color: white;
          display: flex;
          align-items: center;
          align-self: flex-end;
          cursor: pointer;
        }

          .button_update_pld img {
            height: 20px;
            margin-right: 10px;
          }

        .button_update_pld:hover {
          border: 0.5px var(--mainseconddarkcolor) solid;
          background-color: var(--mainseconddarkcolor);
        }

    .parameter_pld_container {
      flex-direction: column;
      padding-top: 20px;
    }

      .parameter_pld_checkbox {
        padding-bottom: 10px;
      }

      .parameter_pld {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
      }

        .parameter_pld label {
          padding-bottom: 10px;
        }

        .parameter_pld textarea {

        }

        .parameter_pld input {

        }

      .button_update_pld_inner {
        margin-top: 30px;
        border-radius: 15px;
        padding: 13px 20px;
        border: 0.5px var(--maincolor) solid;
        background-color: var(--maincolor);
        color: white;
        display: flex;
        align-self: center;
        right: 0;
        width: 200px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }

      .button_update_pld_inner:hover {
        border: 0.5px var(--mainseconddarkcolor) solid;
        background-color: var(--mainseconddarkcolor);
      }

    .subtitle {
      font-size: 35px;
      margin-top: 5px;
    }

    .description {
      display: flex;
      margin-bottom: 30px;
      padding: 10px;
      background-color: var(--backgroundmain);
      width: fit-content;
      border: 1px solid var(--background);
      border-radius: 10px;
    }

      .description_sub {
        margin-right: 15px;
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

        .description_sub p {
          margin: 0;
        }

    .table_container {
    }

      .table_tache {
        width: -webkit-fill-available;
        border-collapse: collapse;
      }

        .table_tache tr {
          height: 45px;
          border: 1px solid #dddddd;
        }

        .table_tache .table_line {
          text-align: center;
        }

          .table_tache .table_line form button {
            border-radius: 15px;
            padding: 5px 12px;
            color: white;
            cursor: pointer;
          }

          .table_tache .table_line form .green_button {
            border: 0.5px var(--greencolor) solid;
            background-color: var(--greencolor);
          }

          .table_tache .table_line form .orange_button {
            border: 0.5px var(--orangecolor) solid;
            background-color: var(--orangecolor);
          }

  .main_right_loading {
    background-color: white;
    flex: 10;
    box-shadow: 0px 4px 5px 2px #d2d2d261;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    padding: 35px;
    text-align: center;
  }
