<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/"><h1 class="title">Orga projet</h1></a>

    <div class="main">
      <div class="main_right_loading">
        {% block body %}{% endblock %}
      </div>
    </div>
  </body>
</html>
