.MainContainerConnexion {
  background-color: #78b6fe;
}

  .MainContainerConnexion .TitleConnexion {
    text-align: center;
    margin: 0;
  }

  .MainContainerConnexion .ContainerConnexion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .MainContainerConnexion .ContainerConnexion .SmallerContainerConnexion {

  }

    .MainContainerConnexion .ContainerConnexion .SmallerContainerConnexion .FormConnexion {
      display: flex;
      flex-direction: column;
    }
