html {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Comic Sans MS', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

#root {
  height: 100%;
}
